body {
    background-color: #f8f9fa;
}
h1 {
    color: #333333;
}
.table {
    background-color: #ffffff;
}
.btn {
    min-width: 120px;
    margin: 4px;
}
td {
    padding: 4px 10px;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
